{{define "content"}}

    <article ng-controller="MediatorCtrl" class="mediator">
      <a href="http://github.com/edsu/mediator">
        <img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub">
      </a>
      <header {{if .Site}}style="background-image: url({{.Site.Static}}{{.Photo}});"{{end}}>
        <h1>Mediator <small>See what Medium stories people are talking about on Twitter.</small></h1>
      </header>
      <p class="options">
        Sort by:
        <select ng-model="orderProp">
          <option value="-LastMentioned">Date Last Mentioned</option>
          <option value="-Published">Date Published</option>
          <option value="-Count"># of Mentions</option>
        </select>
      </p>
      <div ng-switch="stories.length>0">
        <p ng-switch-when="false" class="bg-info lead">Stay tuned for a stream of medium stories being mentioned now on Twitter.</p>
        <ul ng-switch-when="true" class="media-list">
          <li class="story media" ng-repeat="story in stories | orderBy:orderProp">
            <a class="pull-left" href="[[story.Url]]" ng-switch on="story.ImageUrl">
              <img ng-switch-when="" class="media-object" src="/images/question.png" alt="...">
              <img ng-switch-default class="media-object" ng-src="[[story.ImageUrl]]" alt="...">
            </a>
            <div class="media-body">
              <h4 class="media-heading"><a href="[[story.Url]]">[[story.Title]]</a> <span class="badge">[[story.Count]]</span></h4>
              <p>[[story.Description]]</p>
              <p><small>Published:</small> [[story.Published | date:'medium']] <small>Mentioned:</small> [[story.LastMentioned | date:'medium']]</p>
            </div>
          </li>
        </ul>
      </div>
    </article>

{{end}}
