{{define "html"}}<!DOCTYPE html>
<html lang="en" ng-app="MediatorApp">
  <head>
    <script src="/js/mediator.js"></script>
    <meta charset="utf-8">
    <title>Mediator</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link href="/css/mediator.min.css" rel="stylesheet">
  </head>
  <body>
    <div id="brand"></div>
    <div ng-controller="MediatorCtrl">
      <ul class="media-list">
	<li class="story media" ng-repeat="story in stories | orderBy:'Count':true">
	  <a class="pull-left" href="[[story.Story.Url]]">
	    <img class="media-object" ng-src="[[story.Story.ImageUrl]]" alt="...">
	  </a>
	  <div class="media-body">
	    <h4 class="media-heading"><a href="[[story.Story.Url]]">[[story.Story.Title]]</a> <span class="badge">[[story.Count]]</span></h4>
	    <p>[[story.Story.Description]]</p>
	  </div>
	</li>
      </ul>
    </div>
    <footer>
      <p class="text-muted credit">Glyphicons by <a href="http://glyphicons.com">GLYPHICONS</a>.</p>
    </footer>
  </body>
</html>{{end}}

