{{define "html"}}<!DOCTYPE html>
<html lang="en" ng-app="MediatorApp">
  <head>
    <script src="/js/mediator.js"></script>
    <meta charset="utf-8">
    <title>Mediator</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link href="/css/mediator.min.css" rel="stylesheet">
  </head>
  <body>
    <div id="brand"></div>
    <div ng-controller="MediatorCtrl" class="container">
      <h1>Stories</h1>
      <p>
        Sort by:
        <select ng-model="orderProp">
          <option value="-Published">Date Published</option>
          <option value="-Count"># of Mentions</option>
        </select>
      </p>
      <ul class="media-list">
        <li class="story media" ng-repeat="story in stories | orderBy:orderProp">
          <a class="pull-left" href="[[story.Url]]" ng-switch on="story.ImageUrl">
            <img ng-switch-when="" class="media-object" src="/images/question.png" alt="...">
            <img ng-switch-default class="media-object" ng-src="[[story.ImageUrl]]" alt="...">
          </a>
          <div class="media-body">
            <h4 class="media-heading"><a href="[[story.Url]]">[[story.Title]]</a> <span class="badge">[[story.Count]]</span></h4>
            <p>[[story.Description]]</p>
            <p>[[story.Published | date:'mediumDate']]</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="container">
      <footer>
        <p class="text-muted credit">Glyphicons by <a href="http://glyphicons.com">GLYPHICONS</a>.</p>
      </footer>
    </div>
  </body>
</html>{{end}}
